
body{
	background-color: #f5f5f5;
}
.appHead{
	height:50px;
	padding:1px;
	padding-bottom:15px;
	background-color: #fff;
	color: #00AEEF;
	top:0;
	margin-bottom: 10px;
	box-shadow: 0 0 8px rgba(0,0,0,.9),0 8px 16px rgba(0,0,0,.18);
}

.apphead > h3{
	margin-top:10px;
}
.appContent{
	background-color: #fff;
	margin-bottom: 5px;
	box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
	height: 100%;
}

.weekHead{
	background-color: #00AEEF;
	color: #fff;
	padding: 3px;
	margin-bottom: 1%;
}

.timeRow{
	margin-bottom: 1%;

}

.timeName{
	background-color: #00AEEF;
	width: 19%;
	float:left;
	padding: 1%;
	margin-left: 1%;
	text-align: center;
	color: #fff;
}

.blank{
	width: 18%;
	float:left;	
	padding: 1%;
	margin-left: 1%;
}



.dayName{
	width: 18%;
	float:left;	
	padding: 1%;
	background-color: #00AEEF;
	color: #fff;
	margin-bottom: 1%;
	text-align: center;
	margin-top: 1px;
	margin-left: 1%;
	height:40px;
}

.dayAdd{
	width: 19%;
	float:left;
	padding: 1%;
	margin-left: 1%;
	text-align: center;
	color: #00AEEF;
	border: 1px solid #00AEEF;
	margin-bottom: 1%;
	cursor: pointer;
	height:40px;
}

.dayAdd:hover{
	background-color: #00AEEF;
	color: #fff;
}

.simplecolorpicker.fontawesome span.color[data-selected]:after {
  font-family: 'FontAwesome';
  -webkit-font-smoothing: antialiased;

  content: '\f00c'; /* Ok/check mark */

  margin-right: 1px;
  margin-left: 1px;
}

.simplecolorpicker.glyphicons span.color[data-selected]:after {
  /* Taken from glyphicon class. */
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Halflings';
  line-height: .9;
  -webkit-font-smoothing: antialiased;

  content: '\e013'; /* Ok/check mark */

  margin-right: 1px;
  margin-left: 1px;
}

.simplecolorpicker.regularfont span.color[data-selected]:after {
  content: '\2714'; /* Ok/check mark */

  margin-right: 2.2px;
  margin-left: 2.2px;
}

.selected {
  border:1px solid #ddd;
}

.bs-callout {
padding: 1px;
margin: 5px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}

.bs-callout-app{
	border-left-color: #00AEEF;
}

.bs-callout-app h6{
	color: #00AEEF;
	padding-left:5px;
}

.panel-default-app{
	background-color: #00AEEF;
}



.form-control {
	border-color: #00AEEF;
}

.btn-default.btn-default-app{
	background-color: #fff;
	color: #00AEEF;
	border-color:#00AEEF;
}


.btn-default.btn-default-app:hover{
	background-color: #00AEEF;
	color: #fff;
	border-color:#00AEEF;
}
.appinput{
	margin: 10px;
}

.alert-primary {
background-color: #2780e3;
border-color: #2780e3;
color: #ffffff;
}


.panel-group .panel {
	margin-bottom: 0;
	margin-bottom: 15px;
	box-shadow: 0 0 4px rgba(0,0,0,.18),0 4px 8px rgba(0,0,0,.36);
}

.callout-success {
background-color: rgb(243, 250, 243);
border-color: rgb(60, 188, 141);
}

.callout {
margin: 20px 0px;
padding: 20px;
border-left: 3px solid rgb(238, 238, 238);
box-shadow: 0 0 4px rgba(0,0,0,.18),0 4px 8px rgba(0,0,0,.36);
}

.callout-success h4 {
color: rgb(60, 188, 141);
}

.modal-header{
	background-color: #	;
	color: #fff;
}

.panel-body{
	color:black;
}


